<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAPECHARO - Tu Papelería de Confianza</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo_IniciarSesion.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>

    <a href="https://api.whatsapp.com/send?phone=%2B526567647697&token=eyJhbGciOiJFUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6IjEyNSJ9.eyJleHAiOjE3NzgyMTA0ODEsInBob25lIjoiKzUyNjU2NzY0NzY5NyIsImNvbnRleHQiOiJBZmhGdl9VZHF1X096OFNidktJZGdLMWJNUkJDTjA5Nm5QTDkzdV9zVGNSc0Nwd28zUGxWZlYyZU9Ed2lPVEFMV0xTT2laRkpUTlpTbFg3ZUt4YkdzYjFLb2tTQlp4ekdHSXdfWk9qUkV5djBhRTdRVXdTTkxjMWh3UnhtLW5abE9FdmRIQlFsaHNkTjdUWWl6SFFyWTh1N3V3Iiwic291cmNlIjoiRkJfUGFnZSIsImFwcCI6ImZhY2Vib29rIiwiZW50cnlfcG9pbnQiOiJwYWdlX2N0YSJ9.DMgxTEol_Ag3bIDTT0Cx1D2Kxb5nSmcRe3ou1xXfP5hgPdu681RpeLXnn2VuIqdEPylhQSJFUSqaZxCZjZ4X5A" target="_blank" class="whatsapp-fixed" title="Escríbenos por WhatsApp">
        <i class="fab fa-whatsapp"></i>
        <span>¿Necesita ayuda?</span>
    </a>

    <header>
        <nav class="navbar container">
            <div class="logo">
               <a href="index.html"><h1>PAPE<span class="orange-text">CHARO</span></h1></a> 
            </div>
            <ul class="nav-links">
                <li><a href="#" class="active">Inicio</a></li>
                <li><a href="#">Catálogo</a></li>
                <li><a href="#">Sobre nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
            <div class="nav-actions">
                <div class="search-bar">
                    <input type="text" placeholder="Buscar...">
                    <button><i class="fas fa-search"></i></button>
                </div>
                <a href="#" class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                    </a>
                <a href="Login.html" class="login-link">Iniciar sesión</a>
            </div>
        </nav>
    </header>


    <main class="login-main">

    <section class="login-container">

        <h1>REGISTRARSE</h1>

        <p class="register-subtitle">
            Crea tu cuenta en PAPECHARO
        </p>

        <form class="login-form">

         <!-- Nombre -->
<div class="input-group">
    <i class="fas fa-user"></i>
    <input type="text" placeholder="Nombre completo" required>
</div>

<!-- Correo -->
<div class="input-group">
    <i class="fas fa-envelope"></i>
    <input type="email" placeholder="Correo electrónico" required>
</div>

<!-- Contraseña -->
<div class="input-group">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Contraseña" required>
</div>

<!-- Confirmar contraseña -->
<div class="input-group">
    <i class="fas fa-lock"></i>
    <input type="password" placeholder="Confirmar contraseña" required>
</div>

            <!-- Botón -->
            <a href="Home.html" class="login-btn">
                CREAR CUENTA
            </a>

        </form>

        <!-- Login -->
        <p class="register-text">
            ¿Ya tienes cuenta?
            <a href="IniciarSesion.html">Inicia sesión</a>
        </p>

    </section>

</main>

 
     <footer>
        <div class="container footer-content">
            <div class="footer-logo">
                <a href="index.html">
                <img src="{{ url_for('static', filename='img/LogoPape2.png') }}" 
                alt="PAPECHARO Logo" 
                class="logo-img" 
                height="100px">
                </a>
                <p>&copy; 2026 PAPECHARO. Todos los derechos reservados.</p>
            </div>
            <ul class="footer-links">
                <li><a href="#">About</a></li>
                <li><a href="#">Authors</a></li>
                <li><a href="#">Archive</a></li>
                <li><a href="#">Terms and Conditions</a></li>
                <li><a href="#">Cookie Policy</a></li>
            </ul>
        </div>
    </footer>
 
</body>
</html>